@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, p, h1, h2, h3, h4, h5, h6, a, span {
  @apply text-white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, hsl(0,0%,0%) 4.5%,hsl(210,40%,13.7%) 30%,hsl(0,0%,0%) 60%);
}

h1 {
  @apply text-2xl font-semibold;
  @apply lg:text-7xl;
  @apply leading-normal;
}

h2 {
  @apply text-xl font-semibold;
  @apply lg:text-5xl;
  @apply leading-normal;
}

.p-normal {
  @apply text-xl font-light;
}

.label-xlarge {
  @apply text-2xl font-semibold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

	/* --color-dark-gradient: linear-gradient(to bottom, hsl(0,0%,0%) 4.5%,hsl(210,40%,13.7%) 30%,hsl(0,0%,0%) 60%); */
